[Unit]
Description=Find-a-Time Web Server (Gunicorn)
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/find-a-time-monolith
EnvironmentFile=/home/ec2-user/find-a-time-monolith/.env
ExecStart=/home/ec2-user/find-a-time-monolith/.venv/bin/gunicorn -w 3 -b 0.0.0.0:8000 src.app:app
Restart=always

[Install]
WantedBy=multi-user.target
